aiofiles
aiohttp
alphabet_detector
apscheduler
asyncio==3.4.3
beautifulsoup4
bing_image_downloader
bleach==6.1.0
bs4==0.0.2
cachetools
cloudscraper
countryinfo
currencyconverter
dateparser
emoji
emoji-country-flag
faker
feedparser
ffmpeg-python
future
geopy
gtts
gpytranslate
hachoir
heroku3
html2text
jikanpy
lxml
markdown2
MukeshAPI
motor
nekos.py
pydictionary
pyfiglet
pykeyboard
pymongo
pynewtonmate
pyrate-limiter
pyshorteners
pyrogram
python-telegram-bot
regex
requests
search_engine_parser
secureme
speedtest-cli
sqlalchemy
telegraph
telethon
tgcrypto
wikipedia
wget
yt_dlp
youtube_search
youtube_search_python

